In [8]:
################################################################################
### Step 1 Initializing API                                                  ###
################################################################################

#The API uses the ORM capability of SQLAlchemy to automatically generate objects
#based on the structure of the database. To use or even import the API we must
#first initialize it.

#Step 1 - import the function 'init_api' and use to initalize the rest of the api
from odm2api import init_api 
from sqlalchemy import create_engine

engine = create_engine('INSERT CONNECTION STRING HERE')
init_api(engine)

#step 2 - now that the api is initialized, import ODM2Models and ODM2Services
from odm2api.base import ODM2Models as models

#step 3 - create our services object
from odm2api.base import ODM2Services
from sqlalchemy.orm.session import sessionmaker

session_maker = sessionmaker(bind=engine)
services = ODM2Services(session_maker=session_maker)

In [9]:
################################################################################
### Step 2 - Basic CRUD operations                                           ###
################################################################################

In [10]:
### C - create

#let's start by adding a new person to the database
person = models.People(
    PersonFirstName="Test",
    PersonMiddleName="T",
    PersonLastName="Testerson"
)

#create (write obj data to database) using the create_obj method under create services
services.create.create_obj(person)

In [11]:
### R - read

#read a list from query set
results = services.read.read_queryset(models.People)
for result in results:
    print(result)

(3, 'Test', 'T', 'Testerson')

In [12]:
#read as a data frame
results = services.read.read_dataframe(models.People)
results

   PersonID PersonFirstName PersonMiddleName PersonLastName
0         3            Test                T      Testerson

In [13]:
### U - update

#lets change the data from of our person
person.PersonFirstName = "John"
person.PersonMiddleName = "Q"
person.PersonLastName = "Sample"

services.update.update(person)

results = services.read.read_dataframe(person)
results.head()

   PersonID PersonFirstName PersonMiddleName PersonLastName
0         3            John                Q         Sample

In [14]:
### D - delete

#let's delete the person we just created
services.delete.remove(person)

results = services.read.read_dataframe(person)
results.head()

Empty DataFrame
Columns: [PersonID, PersonFirstName, PersonMiddleName, PersonLastName]
Index: []